<html>
<head>
    <title>Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    <section class="content-header">
        <h1>Employee | Edit</h1>
    </section>

    <div class="content">
          <div class="container-fluid">
                <form action="/users/update/<%=userDetail[0].username%>" method="post">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" name="username"  placeholder ="enter name" class="form-control " value=<%= userDetail[0].username %>>
                        </div>
                        <div class="col-sm-3">
                            <input type="email" name="email"  placeholder ="enter email" class="form-control " value=<%= userDetail[0].email %>>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="phone"  placeholder ="enter phone" class="form-control " value=<%= userDetail[0].phone %>>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-3">
                            <input type="submit" class="form-control btn-success col-md-3" value"Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>