<html>
<head>
    <title>Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    <section class="content-header">
        <h1>Employee | Edit</h1>
    </section>

    <div class="content">

          <div class="container-fluid">

                <form action="/updatesave" method="post">
                <% if(edit) { %>
                 <% for (var i = 0; i < edit.length ; i++){ %>
                    
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" name="name"  placeholder ="enter name" class="form-control " value=<%= edit[i].id %>>
                        </div>
                        <div class="col-sm-9"> </div>
                    </div>
                    
                
                <div class="col-sm-12">
                <div class="col-md-3">
                <input type="submit" class="form-control btn-success col-md-3" value"Save">
                </div>
                </div>
                </form>
                                <% } %>
                <% } %>

            </div>
        </div>
    </div>
</body>
</html>